# Handle peer dependencies
auto-install-peers=true
strict-peer-deps=false
resolve-peers-from-workspace-root=true

# Performance
node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]="*"

# Version control
save-exact=true