:root {
  --item-slots-slot-width: 50px;
  --item-slots-slot-height: 50px;
  --item-slots-slot-margin: 2px;
  --item-slots-slot-padding: 2px;
  --item-slots-slot-color: #393b44;
  --item-slots-slot-color-hover: #393b44;
  --item-slots-slot-color-focus: #c6cada;
}

/* -------------------------------------------------------------------------- */
/*                                  ITEM BAR                                  */
/* -------------------------------------------------------------------------- */
.item-slots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-slots-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-radius: calc(var(--item-slots-slot-width) * 0.1);
  background: rgba(168, 168, 168, 0.05);
  border-width: calc(var(--item-slots-slot-width) * 0.08);
  border-style: solid;
  border-color: var(--item-slots-slot-color);
  box-shadow: inset 0 0 calc((--item-slots-slot-width) * 0.05)
    var(--item-slots-slot-color);
  width: var(--item-slots-slot-width);
  height: var(--item-slots-slot-height);
  margin: var(--item-slots-slot-margin);
  padding: var(--item-slots-slot-padding);
  transition: 100ms ease-in-out;
}

.item-slots-slot-hover {
  box-shadow: none;
  background: rgba(168, 168, 168, 0.15);
  border-color: var(--item-slots-slot-color-hover);
  transform: scale(1.06);
}

.item-slots-slot-focus {
  box-shadow: none;
  background: rgba(168, 168, 168, 0.4);
  border-color: var(--item-slots-slot-color-focus);
  transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                                    DEBUG                                   */
/* -------------------------------------------------------------------------- */
.debug-data {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #eee;
  background: #00000022;
  padding: 4px;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  gap: 8px;
}

.debug-entries {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

.debug-line {
  font-size: 13.33333px;
  margin: 0;
}
