@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  overflow: hidden;
}
